# Interactive Plots of COVID-19 Data
This is a notebook to interact with COVID-19 data using [Jupyter](https://jupyter.org/) and [Hvplot](https://hvplot.holoviz.org/). Currently we are focused on data from the US but may expand our analyses in the near future.

## Load Johns Hopkins COVID-19 Data
Here we load the COVID-19 confirmed case data from the [The Center for Systems Science and Engineering (CSSE)](https://systems.jhu.edu) at Johns Hopkins University. The CCSE COVID-19 [GitHub Repo](https://github.com/CSSEGISandData/COVID-19) has more information about these data and their sources.

In [67]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 6)
import hvplot.pandas
import datetime

In [68]:
metric='Confirmed'
# metric='Deaths'

In [69]:
dr='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [70]:
tday=datetime.date.today()
tday

datetime.date(2020, 4, 13)

In [71]:
tday=datetime.date.today()
day=datetime.timedelta(days=1)
yday=tday-day*1
fname=yday.strftime('%m-%d-%Y.csv')

In [72]:
src = dr + fname
src

'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-12-2020.csv'

In [73]:
df1 = pd.read_csv(src)
df1

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9,0,0,9,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99,5,0,94,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15,0,0,15,"Accomack, Virginia, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2986,NaN,NaN,NaN,Zambia,2020-04-12 23:17:00,-13.133897,27.849332,43,2,30,11,Zambia
2987,NaN,NaN,NaN,Zimbabwe,2020-04-12 23:17:00,-19.015438,29.154857,14,3,0,11,Zimbabwe
2988,NaN,unassigned,Utah,US,2020-04-12 23:18:00,NaN,NaN,4,5,0,-1,"unassigned, Utah, US"

In [74]:
dfus=df1[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_', metric]]
dfus=dfus[dfus.Country_Region=='US']
dfus.reset_index(drop=True, inplace=True)
dfus.set_index('Combined_Key', inplace=True)
dfus

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15
...,...,...,...,...,...,...,...
"Recovered, US",NaN,Recovered,US,2020-04-12 23:18:00,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-12 23:18:00,18.335800,-64.896300,51
"unassigned, Utah, US",unassigned,Utah,US,2020-04-12 23:18:00,NaN,NaN,4

In [75]:
#dOld=dfus['Last_Update'][0]
dOld=pd.to_datetime(dfus['Last_Update'][0]).date()
dOld

datetime.date(2020, 4, 12)

In [76]:
dfus1=dfus.rename(columns={metric:dOld})

In [77]:
#dfus1=dfus.copy()
dfus1

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15
...,...,...,...,...,...,...,...
"Recovered, US",NaN,Recovered,US,2020-04-12 23:18:00,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-12 23:18:00,18.335800,-64.896300,51
"unassigned, Utah, US",unassigned,Utah,US,2020-04-12 23:18:00,NaN,NaN,4

In [78]:
i=2
dday=tday-day*i
fname2=dday.strftime('%m-%d-%Y.csv')

In [79]:
df2=pd.read_csv(dr+fname2)

In [80]:
fname2

'04-11-2020.csv'

In [81]:
dfus=df2[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_',metric]]
dfus=dfus[dfus.Country_Region=='US']
dfus.reset_index(drop=True, inplace=True)
dfus.set_index('Combined_Key', inplace=True)
dfus

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15
...,...,...,...,...,...,...,...
"Recovered, US",NaN,Recovered,US,2020-04-11 22:45:33,NaN,NaN,0
",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-11 22:45:33,18.335800,-64.896300,51
"unassigned, Utah, US",unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0

In [82]:
dNew=pd.to_datetime(dfus['Last_Update'][0]).date()
dNew

datetime.date(2020, 4, 11)

In [83]:
dfus2=dfus.rename(columns={
                     'Admin2':'aNew', 
                     'Province_State': 'psNew',
                     'Country_Region': 'crNew', 
                     'Last_Update': 'luNew',
                     'Lat': 'latNew',
                     'Long_': 'lonNew'})

In [84]:
#dfus2=dfus.copy()
dfus2

,aNew,psNew,crNew,luNew,latNew,lonNew,Confirmed
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15
...,...,...,...,...,...,...,...
"Recovered, US",NaN,Recovered,US,2020-04-11 22:45:33,NaN,NaN,0
",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-11 22:45:33,18.335800,-64.896300,51
"unassigned, Utah, US",unassigned,Utah,US,2020-04-11 22:45:33,NaN,NaN,0

In [85]:
dfusc=pd.concat([dfus1,dfus2], axis=1, join='outer')
dfusc

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12,aNew,psNew,crNew,luNew,latNew,lonNew,Confirmed
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9.0,Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99.0,Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15.0,Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Weber,Utah,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weber,Utah,US,2020-04-11 22:45:33,41.271160,-111.914512,93.0
",Northern Mariana Islands,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Mariana Islands,US,2020-04-11 22:45:33,15.097900,145.673900,6.0
",Virgin Islands,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands,US,2020-04-11 22:45:33,18.335800,-64.896300,51.0

In [86]:
#df1.set_index('Combined_Key', inplace=True)
#df2.set_index('Combined_Key', inplace=True)
#dfc=pd.merge(df1, df2, on=['Combined_Key','Combined_Key'])
#dfc

## Now clean the table

In [87]:
dfusc.rename(columns={metric:dNew}, inplace=True)

In [88]:
dfusc

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12,aNew,psNew,crNew,luNew,latNew,lonNew,2020-04-11
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9.0,Abbeville,South Carolina,US,2020-04-11 22:45:33,34.223334,-82.461707,9.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99.0,Acadia,Louisiana,US,2020-04-11 22:45:33,30.295065,-92.414197,98.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15.0,Accomack,Virginia,US,2020-04-11 22:45:33,37.767072,-75.632346,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Weber,Utah,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weber,Utah,US,2020-04-11 22:45:33,41.271160,-111.914512,93.0
",Northern Mariana Islands,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Mariana Islands,US,2020-04-11 22:45:33,15.097900,145.673900,6.0
",Virgin Islands,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands,US,2020-04-11 22:45:33,18.335800,-64.896300,51.0

In [89]:
dfusc.drop(columns={'aNew','psNew', 'crNew', 'luNew', 'lonNew', 'latNew'}, inplace=True)

In [90]:
dfusc

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12,2020-04-11
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9.0,9.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99.0,98.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15.0,15.0
...,...,...,...,...,...,...,...,...
"Weber,Utah,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0
",Northern Mariana Islands,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
",Virgin Islands,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0

## Make a function

In [91]:
dfus1

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15
...,...,...,...,...,...,...,...
"Recovered, US",NaN,Recovered,US,2020-04-12 23:18:00,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-12 23:18:00,18.335800,-64.896300,51
"unassigned, Utah, US",unassigned,Utah,US,2020-04-12 23:18:00,NaN,NaN,4

In [92]:
def appendData(dfAll,i,tday):
        print(i)
        #print(id(dfAll))
        #print(dfAll.columns)
        day=datetime.timedelta(days=1)
        dday=yday-day*i
        fname2=dday.strftime('%m-%d-%Y.csv')
        df2=pd.read_csv(dr+fname2)
        dfus=df2[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_', metric]]
        dfus=dfus[dfus.Country_Region=='US']
        dfus.reset_index(drop=True, inplace=True)
        dfus.set_index('Combined_Key', inplace=True)
        dNew=pd.to_datetime(dfus['Last_Update'][0]).date()
        print(dNew)
        dfus2=dfus.rename(columns={
                             'Admin2':'aNew', 
                             'Province_State': 'psNew',
                             'Country_Region': 'crNew', 
                             'Last_Update': 'luNew',
                             'Lat': 'latNew',
                             'Long_': 'lonNew'})
        #dfus2=dfus.copy()
        dfusc=pd.concat([dfAll,dfus2], axis=1, join='outer')
        dfusc2=dfusc.rename(columns={metric:dNew})
        dfusc3=dfusc2.drop(columns={'aNew','psNew', 'crNew', 'luNew', 'lonNew', 'latNew'})
        dfusc3.iloc[:,-1]=pd.to_numeric(dfusc3.iloc[:,-1], errors='ignore', downcast='float')
        return dfusc3

In [93]:
#dfTest=appendData(dfus1,1,tday)
#dfTest

## Run the function

In [94]:
dfus1

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15
...,...,...,...,...,...,...,...
"Recovered, US",NaN,Recovered,US,2020-04-12 23:18:00,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-12 23:18:00,18.335800,-64.896300,51
"unassigned, Utah, US",unassigned,Utah,US,2020-04-12 23:18:00,NaN,NaN,4

In [95]:
#ndays=pd.to_datetime(dOld).date()-pd.to_datetime(dNew).date()
deltaDay=datetime.date.today()-datetime.date(2020,3,23)
ndays=int(deltaDay/day)
ndays

21

In [96]:
days=range(1, ndays, 1)
tday=datetime.date.today()

In [97]:
dfAll=dfus1.copy()
for i in days:
    dfAll=appendData(dfAll,i,tday)
    #print('outside')
    #print(dfAll.columns)

1
2020-04-11
2
2020-04-10
3
2020-04-09
4
2020-04-08
5
2020-04-07
6
2020-04-06
7
2020-04-05
8
2020-04-04
9
2020-04-03
10
2020-04-02
11
2020-04-01
12
2020-03-31
13
2020-03-30
14
2020-03-29
15
2020-03-28
16
2020-03-27
17
2020-03-26
18
2020-03-25
19
2020-03-24
20
2020-03-23

In [98]:
dfAll

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-12,2020-04-11,2020-04-10,2020-04-09,...,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-12 23:18:00,34.223334,-82.461707,9.0,9.0,7.0,7.0,...,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,1.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-12 23:18:00,30.295065,-92.414197,99.0,98.0,94.0,89.0,...,47.0,39.0,11.0,9.0,9.0,8.0,3.0,2.0,2.0,1.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-12 23:18:00,37.767072,-75.632346,15.0,15.0,12.0,11.0,...,7.0,7.0,6.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Unassigned, Wuhan Evacuee, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
"Hawaii,Hawaii,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
"Walla Walla County, Washington, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [99]:
dfUS=dfAll[dfAll.Country_Region=='US']

In [100]:
dfUS.Admin2.fillna('Total', inplace=True)
#dfm['id'] = dfm[['Admin2', 'Province_State']].agg('-'.join, axis=1)
dfUS['Country_Region'] = dfUS['Admin2'] + ', ' + dfAll['Province_State']

C:\Users\zdefne\AppData\Local\Continuum\anaconda3\envs\zarr\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
<ipython-input-100-0f684dbcd7a5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfUS['Country_Region'] = dfUS['Admin2'] + ', ' + dfAll['Province_State']

In [101]:
dfUS.rename(columns = {'Lat':'lat', 'Long_':'lon','Country_Region':'id'}, inplace = True)

C:\Users\zdefne\AppData\Local\Continuum\anaconda3\envs\zarr\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [102]:
dfUS

,Admin2,Province_State,id,Last_Update,lat,lon,2020-04-12,2020-04-11,2020-04-10,2020-04-09,...,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
"Abbeville, South Carolina, US",Abbeville,South Carolina,"Abbeville, South Carolina",2020-04-12 23:18:00,34.223334,-82.461707,9.0,9.0,7.0,7.0,...,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,1.0
"Acadia, Louisiana, US",Acadia,Louisiana,"Acadia, Louisiana",2020-04-12 23:18:00,30.295065,-92.414197,99.0,98.0,94.0,89.0,...,47.0,39.0,11.0,9.0,9.0,8.0,3.0,2.0,2.0,1.0
"Accomack, Virginia, US",Accomack,Virginia,"Accomack, Virginia",2020-04-12 23:18:00,37.767072,-75.632346,15.0,15.0,12.0,11.0,...,7.0,7.0,6.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Recovered, US",Total,Recovered,"Total, Recovered",2020-04-12 23:18:00,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
"Virgin Islands, US",Total,Virgin Islands,"Total, Virgin Islands",2020-04-12 23:18:00,18.335800,-64.896300,51.0,NaN,NaN,NaN,...,NaN,NaN,30.0,23.0,22.0,19.0,17.0,17.0,17.0,7.0
"unassigned, Utah, US",unassigned,Utah,"unassigned, Utah",2020-04-12 23:18:00,NaN,NaN,4.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
dfUS.drop(columns={'Admin2','Province_State','Last_Update'}, inplace=True)

C:\Users\zdefne\AppData\Local\Continuum\anaconda3\envs\zarr\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [104]:
#dfUS[(dfUS.ck=='Suffolk, Massachusetts, US')]
#dfUS.loc['Suffolk, Massachusetts, US']
dfUS[dfUS.id.str.contains('unassgined')]

Empty DataFrame
Columns: [id, lat, lon, 2020-04-12, 2020-04-11, 2020-04-10, 2020-04-09, 2020-04-08, 2020-04-07, 2020-04-06, 2020-04-05, 2020-04-04, 2020-04-03, 2020-04-02, 2020-04-01, 2020-03-31, 2020-03-30, 2020-03-29, 2020-03-28, 2020-03-27, 2020-03-26, 2020-03-25, 2020-03-24, 2020-03-23]
Index: []

[0 rows x 24 columns]

In [105]:
dfUS

,id,lat,lon,2020-04-12,2020-04-11,2020-04-10,2020-04-09,2020-04-08,2020-04-07,2020-04-06,...,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
"Abbeville, South Carolina, US","Abbeville, South Carolina",34.223334,-82.461707,9.0,9.0,7.0,7.0,5.0,5.0,6.0,...,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,1.0
"Acadia, Louisiana, US","Acadia, Louisiana",30.295065,-92.414197,99.0,98.0,94.0,89.0,86.0,82.0,79.0,...,47.0,39.0,11.0,9.0,9.0,8.0,3.0,2.0,2.0,1.0
"Accomack, Virginia, US","Accomack, Virginia",37.767072,-75.632346,15.0,15.0,12.0,11.0,11.0,11.0,11.0,...,7.0,7.0,6.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Recovered, US","Total, Recovered",NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
"Virgin Islands, US","Total, Virgin Islands",18.335800,-64.896300,51.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.0,23.0,22.0,19.0,17.0,17.0,17.0,7.0
"unassigned, Utah, US","unassigned, Utah",NaN,NaN,4.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
dfm=pd.melt(dfUS, id_vars=dfUS.columns.values[0:3], var_name="Date", value_name="Value")

In [107]:
dfm

                              id        lat        lon        Date  Value
0      Abbeville, South Carolina  34.223334 -82.461707  2020-04-12    9.0
1              Acadia, Louisiana  30.295065 -92.414197  2020-04-12   99.0
2             Accomack, Virginia  37.767072 -75.632346  2020-04-12   15.0
...                          ...        ...        ...         ...    ...
57264           Total, Recovered        NaN        NaN  2020-03-23    NaN
57265      Total, Virgin Islands  18.335800 -64.896300  2020-03-23    7.0
57266           unassigned, Utah        NaN        NaN  2020-03-23    NaN

[57267 rows x 5 columns]

In [108]:
dfm.to_csv('US_covid_' + metric[0:4].lower() + '.csv', index=False)

In [109]:
#dff.Admin2.fillna('Total', inplace=True)
#dff.set_index(['Province_State', 'Admin2'], inplace=True)
#dff.sort_index(0)

In [110]:
def state(name='Massachusetts'):
    conf = dfUS[dfUS.id.str.endswith(name)]
    opts = {'legend': True, 'logy': False, 'grid': True, 'width':950, 'height': 300,
        'title': f'COVID-19 {metric} in {name}', 'padding':0.1, 'xticks':10,
        'ylim':(1.0,1.0e3)}
    s = conf.iloc[:,4:].sum()
    s.name = name + ' conf'
    linec = s.hvplot(**opts)

    return linec

In [111]:
state('Massachusetts')

:Curve   [index]   (Massachusetts conf)

In [66]:
state('Massachusetts')

:Curve   [index]   (Massachusetts conf)