# Interactive Plots of COVID-19 Data
This is a notebook to interact with COVID-19 data using [Jupyter](https://jupyter.org/) and [Hvplot](https://hvplot.holoviz.org/). Currently we are focused on data from the US but may expand our analyses in the near future.

## Load Johns Hopkins COVID-19 Data
Here we load the COVID-19 confirmed case data from the [The Center for Systems Science and Engineering (CSSE)](https://systems.jhu.edu) at Johns Hopkins University. The CCSE COVID-19 [GitHub Repo](https://github.com/CSSEGISandData/COVID-19) has more information about these data and their sources.

In [47]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 6)
import hvplot.pandas
import datetime

In [48]:
metric='Confirmed'
metric='Deaths'

In [49]:
dr='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [50]:
tday=datetime.date.today()
tday

datetime.date(2020, 4, 18)

In [51]:
tday=datetime.date.today()
day=datetime.timedelta(days=1)
yday=tday-day*1
fname=yday.strftime('%m-%d-%Y.csv')

In [52]:
src = dr + fname
src

'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-17-2020.csv'

In [53]:
df1 = pd.read_csv(src)
df1

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,10,0,0,10,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,110,6,0,104,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,28,0,0,28,"Accomack, Virginia, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3042,NaN,NaN,NaN,Yemen,2020-04-17 23:30:32,15.552727,48.516388,1,0,0,1,Yemen
3043,NaN,NaN,NaN,Zambia,2020-04-17 23:30:32,-13.133897,27.849332,52,2,30,20,Zambia
3044,NaN,NaN,NaN,Zimbabwe,2020-04-17 23:30:32,-19.015438,29.154857,24,3,2,19,Zimbabwe

In [54]:
dfus=df1[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_', metric]]
dfus=dfus[dfus.Country_Region=='US']
dfus.reset_index(drop=True, inplace=True)
dfus.set_index('Combined_Key', inplace=True)
dfus

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Deaths
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0
...,...,...,...,...,...,...,...
"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-17 23:30:52,18.220800,-66.590100,58
"Recovered, US",NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-17 23:30:52,18.335800,-64.896300,2

In [55]:
#dOld=dfus['Last_Update'][0]
dOld=pd.to_datetime(dfus['Last_Update'][0]).date()
dOld

datetime.date(2020, 4, 17)

In [56]:
dfus1=dfus.rename(columns={metric:dOld})

In [57]:
#dfus1=dfus.copy()
dfus1

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0
...,...,...,...,...,...,...,...
"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-17 23:30:52,18.220800,-66.590100,58
"Recovered, US",NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-17 23:30:52,18.335800,-64.896300,2

In [58]:
i=2
dday=tday-day*i
fname2=dday.strftime('%m-%d-%Y.csv')

In [59]:
df2=pd.read_csv(dr+fname2)

In [60]:
fname2

'04-16-2020.csv'

In [61]:
dfus=df2[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_',metric]]
dfus=dfus[dfus.Country_Region=='US']
dfus.reset_index(drop=True, inplace=True)
dfus.set_index('Combined_Key', inplace=True)
dfus

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Deaths
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-16 23:30:51,34.223334,-82.461707,0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-16 23:30:51,30.295065,-92.414197,6
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-16 23:30:51,37.767072,-75.632346,0
...,...,...,...,...,...,...,...
"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-16 23:30:51,18.220800,-66.590100,56
"Recovered, US",NaN,Recovered,US,2020-04-16 23:30:51,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-16 23:30:51,18.335800,-64.896300,1

In [62]:
dNew=pd.to_datetime(dfus['Last_Update'][0]).date()
dNew

datetime.date(2020, 4, 16)

In [63]:
dfus2=dfus.rename(columns={
                     'Admin2':'aNew', 
                     'Province_State': 'psNew',
                     'Country_Region': 'crNew', 
                     'Last_Update': 'luNew',
                     'Lat': 'latNew',
                     'Long_': 'lonNew'})

In [64]:
#dfus2=dfus.copy()
dfus2

,aNew,psNew,crNew,luNew,latNew,lonNew,Deaths
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-16 23:30:51,34.223334,-82.461707,0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-16 23:30:51,30.295065,-92.414197,6
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-16 23:30:51,37.767072,-75.632346,0
...,...,...,...,...,...,...,...
"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-16 23:30:51,18.220800,-66.590100,56
"Recovered, US",NaN,Recovered,US,2020-04-16 23:30:51,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-16 23:30:51,18.335800,-64.896300,1

In [65]:
dfusc=pd.concat([dfus1,dfus2], axis=1, join='outer')
dfusc

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17,aNew,psNew,crNew,luNew,latNew,lonNew,Deaths
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0.0,Abbeville,South Carolina,US,2020-04-16 23:30:51,34.223334,-82.461707,0.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6.0,Acadia,Louisiana,US,2020-04-16 23:30:51,30.295065,-92.414197,6.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0.0,Accomack,Virginia,US,2020-04-16 23:30:51,37.767072,-75.632346,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Iron, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iron,Utah,US,2020-04-16 23:30:51,37.859036,-113.289738,0.0
"Kane, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kane,Utah,US,2020-04-16 23:30:51,37.285073,-111.886175,0.0
"Uintah, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uintah,Utah,US,2020-04-16 23:30:51,40.124915,-109.517442,0.0

In [66]:
#df1.set_index('Combined_Key', inplace=True)
#df2.set_index('Combined_Key', inplace=True)
#dfc=pd.merge(df1, df2, on=['Combined_Key','Combined_Key'])
#dfc

## Now clean the table

In [67]:
dfusc.rename(columns={metric:dNew}, inplace=True)

In [68]:
dfusc

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17,aNew,psNew,crNew,luNew,latNew,lonNew,2020-04-16
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0.0,Abbeville,South Carolina,US,2020-04-16 23:30:51,34.223334,-82.461707,0.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6.0,Acadia,Louisiana,US,2020-04-16 23:30:51,30.295065,-92.414197,6.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0.0,Accomack,Virginia,US,2020-04-16 23:30:51,37.767072,-75.632346,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Iron, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iron,Utah,US,2020-04-16 23:30:51,37.859036,-113.289738,0.0
"Kane, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kane,Utah,US,2020-04-16 23:30:51,37.285073,-111.886175,0.0
"Uintah, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uintah,Utah,US,2020-04-16 23:30:51,40.124915,-109.517442,0.0

In [69]:
dfusc.drop(columns={'aNew','psNew', 'crNew', 'luNew', 'lonNew', 'latNew'}, inplace=True)

In [70]:
dfusc

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17,2020-04-16
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0.0,0.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6.0,6.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0.0,0.0
...,...,...,...,...,...,...,...,...
"Iron, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
"Kane, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
"Uintah, Utah, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

## Make a function

In [71]:
dfus1

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0
...,...,...,...,...,...,...,...
"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-17 23:30:52,18.220800,-66.590100,58
"Recovered, US",NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-17 23:30:52,18.335800,-64.896300,2

In [72]:
def appendData(dfAll,i,tday):
        print(i)
        #print(id(dfAll))
        #print(dfAll.columns)
        day=datetime.timedelta(days=1)
        dday=yday-day*i
        fname2=dday.strftime('%m-%d-%Y.csv')
        df2=pd.read_csv(dr+fname2)
        dfus=df2[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_', metric]]
        dfus=dfus[dfus.Country_Region=='US']
        dfus.reset_index(drop=True, inplace=True)
        dfus.set_index('Combined_Key', inplace=True)
        dNew=pd.to_datetime(dfus['Last_Update'][0]).date()
        print(dNew)
        dfus2=dfus.rename(columns={
                             'Admin2':'aNew', 
                             'Province_State': 'psNew',
                             'Country_Region': 'crNew', 
                             'Last_Update': 'luNew',
                             'Lat': 'latNew',
                             'Long_': 'lonNew'})
        #dfus2=dfus.copy()
        dfusc=pd.concat([dfAll,dfus2], axis=1, join='outer')
        dfusc2=dfusc.rename(columns={metric:dNew})
        dfusc3=dfusc2.drop(columns={'aNew','psNew', 'crNew', 'luNew', 'lonNew', 'latNew'})
        dfusc3.iloc[:,-1]=pd.to_numeric(dfusc3.iloc[:,-1], errors='ignore', downcast='float')
        return dfusc3

In [73]:
#dfTest=appendData(dfus1,1,tday)
#dfTest

## Run the function

In [74]:
dfus1

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17
Combined_Key,,,,,,,
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0
...,...,...,...,...,...,...,...
"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-17 23:30:52,18.220800,-66.590100,58
"Recovered, US",NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0
"Virgin Islands, US",NaN,Virgin Islands,US,2020-04-17 23:30:52,18.335800,-64.896300,2

In [75]:
#ndays=pd.to_datetime(dOld).date()-pd.to_datetime(dNew).date()
deltaDay=datetime.date.today()-datetime.date(2020,3,23)
ndays=int(deltaDay/day)
ndays

26

In [76]:
days=range(1, ndays, 1)
tday=datetime.date.today()

In [77]:
dfAll=dfus1.copy()
for i in days:
    dfAll=appendData(dfAll,i,tday)
    #print('outside')
    #print(dfAll.columns)

1
2020-04-16
2
2020-04-15
3
2020-04-14
4
2020-04-13
5
2020-04-12
6
2020-04-11
7
2020-04-10
8
2020-04-09
9
2020-04-08
10
2020-04-07
11
2020-04-06
12
2020-04-05
13
2020-04-04
14
2020-04-03
15
2020-04-02
16
2020-04-01
17
2020-03-31
18
2020-03-30
19
2020-03-29
20
2020-03-28
21
2020-03-27
22
2020-03-26
23
2020-03-25
24
2020-03-24
25
2020-03-23

In [78]:
dfAll

,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-17,2020-04-16,2020-04-15,2020-04-14,...,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,6.0,6.0,5.0,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Elko County, Nevada, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
"Belknap,New Hampshire,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
"Hawaii,Hawaii,US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [79]:
dfUS=dfAll[dfAll.Country_Region=='US']

In [80]:
dfUS.Admin2.fillna('Total', inplace=True)
#dfm['id'] = dfm[['Admin2', 'Province_State']].agg('-'.join, axis=1)
dfUS['Country_Region'] = dfUS['Admin2'] + ', ' + dfAll['Province_State']

C:\Users\zdefne\AppData\Local\Continuum\anaconda3\envs\zarr\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
<ipython-input-80-0f684dbcd7a5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfUS['Country_Region'] = dfUS['Admin2'] + ', ' + dfAll['Province_State']

In [81]:
dfUS.rename(columns = {'Lat':'lat', 'Long_':'lon','Country_Region':'id'}, inplace = True)

C:\Users\zdefne\AppData\Local\Continuum\anaconda3\envs\zarr\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [82]:
dfUS

,Admin2,Province_State,id,Last_Update,lat,lon,2020-04-17,2020-04-16,2020-04-15,2020-04-14,...,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
"Abbeville, South Carolina, US",Abbeville,South Carolina,"Abbeville, South Carolina",2020-04-17 23:30:52,34.223334,-82.461707,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Acadia, Louisiana, US",Acadia,Louisiana,"Acadia, Louisiana",2020-04-17 23:30:52,30.295065,-92.414197,6.0,6.0,5.0,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
"Accomack, Virginia, US",Accomack,Virginia,"Accomack, Virginia",2020-04-17 23:30:52,37.767072,-75.632346,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Puerto Rico, US",Total,Puerto Rico,"Total, Puerto Rico",2020-04-17 23:30:52,18.220800,-66.590100,58.0,56.0,51.0,45.0,...,11.0,8.0,6.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0
"Recovered, US",Total,Recovered,"Total, Recovered",2020-04-17 23:30:52,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
"Virgin Islands, US",Total,Virgin Islands,"Total, Virgin Islands",2020-04-17 23:30:52,18.335800,-64.896300,2.0,1.0,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
dfUS.drop(columns={'Admin2','Province_State','Last_Update'}, inplace=True)

C:\Users\zdefne\AppData\Local\Continuum\anaconda3\envs\zarr\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [84]:
#dfUS[(dfUS.ck=='Suffolk, Massachusetts, US')]
#dfUS.loc['Suffolk, Massachusetts, US']
dfUS[dfUS.id.str.contains('unassgined')]

Empty DataFrame
Columns: [id, lat, lon, 2020-04-17, 2020-04-16, 2020-04-15, 2020-04-14, 2020-04-13, 2020-04-12, 2020-04-11, 2020-04-10, 2020-04-09, 2020-04-08, 2020-04-07, 2020-04-06, 2020-04-05, 2020-04-04, 2020-04-03, 2020-04-02, 2020-04-01, 2020-03-31, 2020-03-30, 2020-03-29, 2020-03-28, 2020-03-27, 2020-03-26, 2020-03-25, 2020-03-24, 2020-03-23]
Index: []

[0 rows x 29 columns]

In [85]:
dfUS

,id,lat,lon,2020-04-17,2020-04-16,2020-04-15,2020-04-14,2020-04-13,2020-04-12,2020-04-11,...,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
"Abbeville, South Carolina, US","Abbeville, South Carolina",34.223334,-82.461707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Acadia, Louisiana, US","Acadia, Louisiana",30.295065,-92.414197,6.0,6.0,5.0,5.0,5.0,5.0,4.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
"Accomack, Virginia, US","Accomack, Virginia",37.767072,-75.632346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Puerto Rico, US","Total, Puerto Rico",18.220800,-66.590100,58.0,56.0,51.0,45.0,45.0,44.0,42.0,...,11.0,8.0,6.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0
"Recovered, US","Total, Recovered",NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
"Virgin Islands, US","Total, Virgin Islands",18.335800,-64.896300,2.0,1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
dfm=pd.melt(dfUS, id_vars=dfUS.columns.values[0:3], var_name="Date", value_name="Value")

In [87]:
dfm

                              id        lat        lon        Date  Value
0      Abbeville, South Carolina  34.223334 -82.461707  2020-04-17    0.0
1              Acadia, Louisiana  30.295065 -92.414197  2020-04-17    6.0
2             Accomack, Virginia  37.767072 -75.632346  2020-04-17    0.0
...                          ...        ...        ...         ...    ...
72355         Total, Puerto Rico  18.220800 -66.590100  2020-03-23    2.0
72356           Total, Recovered        NaN        NaN  2020-03-23    NaN
72357      Total, Virgin Islands  18.335800 -64.896300  2020-03-23    0.0

[72358 rows x 5 columns]

In [88]:
dfm.to_csv('US_covid_' + metric[0:4].lower() + '.csv', index=False)

In [89]:
#dff.Admin2.fillna('Total', inplace=True)
#dff.set_index(['Province_State', 'Admin2'], inplace=True)
#dff.sort_index(0)

In [90]:
def state(name='Massachusetts'):
    conf = dfUS[dfUS.id.str.endswith(name)]
    opts = {'legend': True, 'logy': False, 'grid': True, 'width':950, 'height': 300,
        'title': f'COVID-19 {metric} in {name}', 'padding':0.1, 'xticks':10,
        'ylim':(1.0,3.0e4)}
    s = conf.iloc[:,4:].sum()
    s.name = name + metric
    linec = s.hvplot(**opts)

    return linec

In [91]:
state('Massachusetts')

:Curve   [index]   (MassachusettsDeaths)

In [92]:
state('Massachusetts')

:Curve   [index]   (MassachusettsDeaths)