# Interactive Plots of COVID-19 Data
This is a notebook to interact with COVID-19 data using [Jupyter](https://jupyter.org/) and [Hvplot](https://hvplot.holoviz.org/). Currently we are focused on data from the US but may expand our analyses in the near future.

## Load Johns Hopkins COVID-19 Data
Here we load the COVID-19 confirmed case data from the [The Center for Systems Science and Engineering (CSSE)](https://systems.jhu.edu) at Johns Hopkins University. The CCSE COVID-19 [GitHub Repo](https://github.com/CSSEGISandData/COVID-19) has more information about these data and their sources.

In [34]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 1000)
#import hvplot.pandas

In [35]:
dr='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/'

In [57]:
src = dr + 'time_series_covid19_confirmed_global.csv'

In [58]:
src2 = dr + 'time_series_covid19_deaths_global.csv'

In [59]:
src3 = dr + 'time_series_covid19_recovered_global.csv'

In [60]:
df = pd.read_csv(src)
df.rename(columns={'Country/Region': 'country', 'Province/State': 'state',
                   'Lat': 'lat', 'Long': 'lon'}, inplace = True)
df = df[(df.country=='US') & (df.state!='Diamond Princess') & 
        (df.state!='Grand Princess')].reset_index(drop=True)
df.columns = df.columns[0:4].append(pd.to_datetime(df.columns[4:]))

In [61]:
df

,state,country,lat,lon,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
0,NaN,US,37.0902,-95.7129,1,1,2,2,5,5,...,6421,7783,13677,19100,25489,33276,43847,53740,65778,83836

In [40]:
df2 = pd.read_csv(src2)
df2.rename(columns={'Country/Region': 'country', 'Province/State': 'state',
                   'Lat': 'lat', 'Long': 'lon'}, inplace = True)
df2 = df2[(df2.country=='US') & (df2.state!='Diamond Princess') & 
        (df2.state!='Grand Princess')].reset_index(drop=True)
df2.columns = df2.columns[0:4].append(pd.to_datetime(df2.columns[4:]))

In [41]:
df3 = pd.read_csv(src3)
df3.rename(columns={'Country/Region': 'country', 'Province/State': 'state',
                   'Lat': 'lat', 'Long': 'lon'}, inplace = True)
df3 = df3[(df3.country=='US') & (df3.state!='Diamond Princess') & 
        (df3.state!='Grand Princess')].reset_index(drop=True)
df3.columns = df3.columns[0:4].append(pd.to_datetime(df3.columns[4:]))

In [42]:
df

,state,country,lat,lon,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
0,NaN,US,37.0902,-95.7129,1,1,2,2,5,5,...,6421,7783,13677,19100,25489,33276,43847,53740,65778,83836

In [43]:
df['country'] = df.apply(lambda x: (x.country,x.state), axis=1)
df

,state,country,lat,lon,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
0,NaN,"(US, nan)",37.0902,-95.7129,1,1,2,2,5,5,...,6421,7783,13677,19100,25489,33276,43847,53740,65778,83836

In [44]:
dfsub=df.loc[:,"country" ::] 
dfsub

,country,lat,lon,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,...,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
0,"(US, nan)",37.0902,-95.7129,1,1,2,2,5,5,5,...,6421,7783,13677,19100,25489,33276,43847,53740,65778,83836

In [45]:
dfm=pd.melt(dfsub, id_vars=dfsub.columns.values[0:3], var_name="Date", value_name="Value")
dfm

      country      lat      lon       Date  Value
0   (US, nan)  37.0902 -95.7129 2020-01-22      1
1   (US, nan)  37.0902 -95.7129 2020-01-23      1
2   (US, nan)  37.0902 -95.7129 2020-01-24      2
3   (US, nan)  37.0902 -95.7129 2020-01-25      2
4   (US, nan)  37.0902 -95.7129 2020-01-26      5
5   (US, nan)  37.0902 -95.7129 2020-01-27      5
6   (US, nan)  37.0902 -95.7129 2020-01-28      5
7   (US, nan)  37.0902 -95.7129 2020-01-29      5
8   (US, nan)  37.0902 -95.7129 2020-01-30      5
9   (US, nan)  37.0902 -95.7129 2020-01-31      7
10  (US, nan)  37.0902 -95.7129 2020-02-01      8
11  (US, nan)  37.0902 -95.7129 2020-02-02      8
12  (US, nan)  37.0902 -95.7129 2020-02-03     11
13  (US, nan)  37.0902 -95.7129 2020-02-04     11
14  (US, nan)  37.0902 -95.7129 2020-02-05     11
15  (US, nan)  37.0902 -95.7129 2020-02-06     11
16  (US, nan)  37.0902 -95.7129 2020-02-07     11
17  (US, nan)  37.0902 -95.7129 2020-02-08     11
18  (US, nan)  37.0902 -95.7129 2020-02-09     11
19  (US, nan)  37.0902 -95.7129 2020-02-10     11
20  (US, nan)  37.0902 -95.7129 2020-02-11     12
21  (US, nan)  37.0902 -95.7129 2020-02-12     12
22  (US, nan)  37.0902 -95.7129 2020-02-13     13
23  (US, nan)  37.0902 -95.7129 2020-02-14     13
24  (US, nan)  37.0902 -95.7129 2020-02-15     13
25  (US, nan)  37.0902 -95.7129 2020-02-16     13
26  (US, nan)  37.0902 -95.7129 2020-02-17     13
27  (US, nan)  37.0902 -95.7129 2020-02-18     13
28  (US, nan)  37.0902 -95.7129 2020-02-19     13
29  (US, nan)  37.0902 -95.7129 2020-02-20     13
30  (US, nan)  37.0902 -95.7129 2020-02-21     15
31  (US, nan)  37.0902 -95.7129 2020-02-22     15
32  (US, nan)  37.0902 -95.7129 2020-02-23     15
33  (US, nan)  37.0902 -95.7129 2020-02-24     51
34  (US, nan)  37.0902 -95.7129 2020-02-25     51
35  (US, nan)  37.0902 -95.7129 2020-02-26     57
36  (US, nan)  37.0902 -95.7129 2020-02-27     58
37  (US, nan)  37.0902 -95.7129 2020-02-28     60
38  (US, nan)  37.0902 -95.7129 2020-02-29     68
39  (US, nan)  37.0902 -95.7129 2020-03-01     74
40  (US, nan)  37.0902 -95.7129 2020-03-02     98
41  (US, nan)  37.0902 -95.7129 2020-03-03    118
42  (US, nan)  37.0902 -95.7129 2020-03-04    149
43  (US, nan)  37.0902 -95.7129 2020-03-05    217
44  (US, nan)  37.0902 -95.7129 2020-03-06    262
45  (US, nan)  37.0902 -95.7129 2020-03-07    402
46  (US, nan)  37.0902 -95.7129 2020-03-08    518
47  (US, nan)  37.0902 -95.7129 2020-03-09    583
48  (US, nan)  37.0902 -95.7129 2020-03-10    959
49  (US, nan)  37.0902 -95.7129 2020-03-11   1281
50  (US, nan)  37.0902 -95.7129 2020-03-12   1663
51  (US, nan)  37.0902 -95.7129 2020-03-13   2179
52  (US, nan)  37.0902 -95.7129 2020-03-14   2727
53  (US, nan)  37.0902 -95.7129 2020-03-15   3499
54  (US, nan)  37.0902 -95.7129 2020-03-16   4632
55  (US, nan)  37.0902 -95.7129 2020-03-17   6421
56  (US, nan)  37.0902 -95.7129 2020-03-18   7783
57  (US, nan)  37.0902 -95.7129 2020-03-19  13677
58  (US, nan)  37.0902 -95.7129 2020-03-20  19100
59  (US, nan)  37.0902 -95.7129 2020-03-21  25489
60  (US, nan)  37.0902 -95.7129 2020-03-22  33276
61  (US, nan)  37.0902 -95.7129 2020-03-23  43847
62  (US, nan)  37.0902 -95.7129 2020-03-24  53740
63  (US, nan)  37.0902 -95.7129 2020-03-25  65778
64  (US, nan)  37.0902 -95.7129 2020-03-26  83836

In [46]:
dfm.rename(columns = {'country':'id'}, inplace = True)
dfm

           id      lat      lon       Date  Value
0   (US, nan)  37.0902 -95.7129 2020-01-22      1
1   (US, nan)  37.0902 -95.7129 2020-01-23      1
2   (US, nan)  37.0902 -95.7129 2020-01-24      2
3   (US, nan)  37.0902 -95.7129 2020-01-25      2
4   (US, nan)  37.0902 -95.7129 2020-01-26      5
5   (US, nan)  37.0902 -95.7129 2020-01-27      5
6   (US, nan)  37.0902 -95.7129 2020-01-28      5
7   (US, nan)  37.0902 -95.7129 2020-01-29      5
8   (US, nan)  37.0902 -95.7129 2020-01-30      5
9   (US, nan)  37.0902 -95.7129 2020-01-31      7
10  (US, nan)  37.0902 -95.7129 2020-02-01      8
11  (US, nan)  37.0902 -95.7129 2020-02-02      8
12  (US, nan)  37.0902 -95.7129 2020-02-03     11
13  (US, nan)  37.0902 -95.7129 2020-02-04     11
14  (US, nan)  37.0902 -95.7129 2020-02-05     11
15  (US, nan)  37.0902 -95.7129 2020-02-06     11
16  (US, nan)  37.0902 -95.7129 2020-02-07     11
17  (US, nan)  37.0902 -95.7129 2020-02-08     11
18  (US, nan)  37.0902 -95.7129 2020-02-09     11
19  (US, nan)  37.0902 -95.7129 2020-02-10     11
20  (US, nan)  37.0902 -95.7129 2020-02-11     12
21  (US, nan)  37.0902 -95.7129 2020-02-12     12
22  (US, nan)  37.0902 -95.7129 2020-02-13     13
23  (US, nan)  37.0902 -95.7129 2020-02-14     13
24  (US, nan)  37.0902 -95.7129 2020-02-15     13
25  (US, nan)  37.0902 -95.7129 2020-02-16     13
26  (US, nan)  37.0902 -95.7129 2020-02-17     13
27  (US, nan)  37.0902 -95.7129 2020-02-18     13
28  (US, nan)  37.0902 -95.7129 2020-02-19     13
29  (US, nan)  37.0902 -95.7129 2020-02-20     13
30  (US, nan)  37.0902 -95.7129 2020-02-21     15
31  (US, nan)  37.0902 -95.7129 2020-02-22     15
32  (US, nan)  37.0902 -95.7129 2020-02-23     15
33  (US, nan)  37.0902 -95.7129 2020-02-24     51
34  (US, nan)  37.0902 -95.7129 2020-02-25     51
35  (US, nan)  37.0902 -95.7129 2020-02-26     57
36  (US, nan)  37.0902 -95.7129 2020-02-27     58
37  (US, nan)  37.0902 -95.7129 2020-02-28     60
38  (US, nan)  37.0902 -95.7129 2020-02-29     68
39  (US, nan)  37.0902 -95.7129 2020-03-01     74
40  (US, nan)  37.0902 -95.7129 2020-03-02     98
41  (US, nan)  37.0902 -95.7129 2020-03-03    118
42  (US, nan)  37.0902 -95.7129 2020-03-04    149
43  (US, nan)  37.0902 -95.7129 2020-03-05    217
44  (US, nan)  37.0902 -95.7129 2020-03-06    262
45  (US, nan)  37.0902 -95.7129 2020-03-07    402
46  (US, nan)  37.0902 -95.7129 2020-03-08    518
47  (US, nan)  37.0902 -95.7129 2020-03-09    583
48  (US, nan)  37.0902 -95.7129 2020-03-10    959
49  (US, nan)  37.0902 -95.7129 2020-03-11   1281
50  (US, nan)  37.0902 -95.7129 2020-03-12   1663
51  (US, nan)  37.0902 -95.7129 2020-03-13   2179
52  (US, nan)  37.0902 -95.7129 2020-03-14   2727
53  (US, nan)  37.0902 -95.7129 2020-03-15   3499
54  (US, nan)  37.0902 -95.7129 2020-03-16   4632
55  (US, nan)  37.0902 -95.7129 2020-03-17   6421
56  (US, nan)  37.0902 -95.7129 2020-03-18   7783
57  (US, nan)  37.0902 -95.7129 2020-03-19  13677
58  (US, nan)  37.0902 -95.7129 2020-03-20  19100
59  (US, nan)  37.0902 -95.7129 2020-03-21  25489
60  (US, nan)  37.0902 -95.7129 2020-03-22  33276
61  (US, nan)  37.0902 -95.7129 2020-03-23  43847
62  (US, nan)  37.0902 -95.7129 2020-03-24  53740
63  (US, nan)  37.0902 -95.7129 2020-03-25  65778
64  (US, nan)  37.0902 -95.7129 2020-03-26  83836

In [47]:
dfm.to_csv('covid.csv', index=False)

In [ ]:
state = df.state.str.split(',').apply(lambda x: x[-1].strip())
county = df.state.str.split(',').apply(lambda x: x[0].strip())
county[~df.state.str.contains(',')] = None

In [ ]:
df.state = state
df.insert(0, 'county', county)
df.head()

## Plot All US Cases on Log Scale
Below is a quick plot of all confirmed cases in the US on a logarithmic scale. 

Hvplot creates holoviews objects, and the `*` symbol means [overlay](http://holoviews.org/reference/containers/bokeh/Overlay.html).  See [holoviz plot customization](http://holoviews.org/user_guide/Customizing_Plots.html) for available options.

In [ ]:
opts = {'legend':True, 'logy': True, 'grid': True, 'width': 700, 'height': 400,
        'title': 'Confirmed cases of COVID-19 in the USA', 'padding':0.1 }
s = df.select_dtypes(np.int).sum()
s.name = 'USA'
lines = s.hvplot(**opts) 
dots  = s.hvplot.scatter(**opts)
usa = lines * dots
usa

In [ ]:
df = pd.read_csv(src)
df.rename(columns={'Country/Region': 'country', 'Province/State': 'state',
                   'Lat': 'lat', 'Long': 'lon'}, inplace = True)
df.head()

In [ ]:
df2 = pd.read_csv(src2)
df2.rename(columns={'Country/Region': 'country', 'Province/State': 'state',
                   'Lat': 'lat', 'Long': 'lon'}, inplace = True)
df2.head()

In [ ]:
df3 = pd.read_csv(src3)
df3.rename(columns={'Country/Region': 'country', 'Province/State': 'state',
                   'Lat': 'lat', 'Long': 'lon'}, inplace = True)
df3.head()

In [ ]:
def country(name='USA'):
    conf = df[(df.country==name)]
    death = df2[(df2.country==name)]
    reco = df3[(df3.country==name)]
    opts = {'legend': True, 'logy': True, 'grid': True, 'width':950, 'height': 300,
        'title': f'Cases of COVID-19 in {name}', 'padding':0.1, 'xticks':10,
        'ylim':(1.0,1.0e3)}
    s = conf.select_dtypes(np.int).sum()
    s2 = death.select_dtypes(np.int).sum()
    s3 = reco.select_dtypes(np.int).sum()
    s.name = name + ' conf'
    s2.name = name + ' death'
    s3.name = name + ' reco'
    linec = s.hvplot(**opts)
    lined = s2.hvplot(**opts)
    liner = s3.hvplot(**opts)

    return linec, lined, liner

In [ ]:
usa = country(name='US')
china = country(name='China')
italy = country(name='Italy')
turkey = country(name='Turkey')
japan = country(name='Japan')

In [ ]:
(china[0] * china[1] * china[2]).opts(title_format='Cases of COVID-19', ylim=(1.0,1.0e5), legend_position='top_left')

In [ ]:
(italy[0] * italy[1] * italy[2]).opts(title_format='Cases of COVID-19', ylim=(1.0,1.0e5))

In [ ]:
(usa[0] * usa[1] * usa[2]).opts(title_format='Cases of COVID-19', ylim=(1.0,1.0e5), legend_position='top_left')

In [ ]:
(usa[0] * china[0] * italy[0] * turkey[0] * japan[0]).opts(title_format='Cases of COVID-19', ylim=(1.0,1.0e5), legend_position='top_left')

In [ ]:
(usa[1] * china[1] * italy[1] * turkey[1] * japan[1]).opts(title_format='Cases of COVID-19', ylim=(1.0,1.0e4), legend_position='top_left')

## Single State Example
Here is an example of plotting data from a single US state.

In [ ]:
MA = df[(df.state=='MA') | (df.state=='Massachusetts')]

In [ ]:
opts = {'legend': False, 'logy': True, 'grid': True, 'width': 700, 'height': 400,
        'title': f'Confirmed cases of COVID-19 in Massachusetts ', 'padding':0.1,
        'ylim':(1.0,1.0e3)}
s = MA.select_dtypes(np.int).sum()
lines = s.hvplot(**opts)
dots = s.hvplot.scatter(**opts)
lines * dots

## Multiple Region Example

Turn the above code for a single state into a function so it's easier to explore several states

In [ ]:
def state(name='Massachusetts', code='MA'):
    state = df[(df.state==name) | (df.state==code)]
    opts = {'legend': True, 'logy': True, 'grid': True, 'width': 700, 'height': 400,
        'title': f'Confirmed cases of COVID-19 in {code}', 'padding':0.1,
        'ylim':(1.0,1.0e3)}
    s = state.select_dtypes(np.int).sum()
    s.name = code
    lines = s.hvplot(**opts)
    dots = s.hvplot.scatter(**opts)
    hstate = lines * dots
    return hstate

In [ ]:
ma = state(name='Massachusetts', code='MA')

In [ ]:
mi = state(name='Louisiana', code='LA')

In [ ]:
pa = state(name='Pennsylvania', code='PA')

In [ ]:
(ma * mi * pa * usa).opts(title_format='Confirmed cases of COVID-19', ylim=(1.0,1.0e4))