# Interactive Plots of COVID-19 Data
This is a notebook to interact with COVID-19 data using [Jupyter](https://jupyter.org/) and [Hvplot](https://hvplot.holoviz.org/). Currently we are focused on data from the US but may expand our analyses in the near future.

## Load Johns Hopkins COVID-19 Data
Here we load the COVID-19 confirmed case data from the [The Center for Systems Science and Engineering (CSSE)](https://systems.jhu.edu) at Johns Hopkins University. The CCSE COVID-19 [GitHub Repo](https://github.com/CSSEGISandData/COVID-19) has more information about these data and their sources.

In [169]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 6)
import hvplot.pandas
import datetime

In [170]:
dr='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

In [171]:
tday=datetime.date.today()
tday

datetime.date(2020, 4, 2)

In [172]:
tday=datetime.date.today()
day=datetime.timedelta(days=1)
yday=tday-day*1
fname=yday.strftime('%m-%d-%Y.csv')

In [173]:
src = dr + fname
src

'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv'

In [174]:
df1 = pd.read_csv(src)
df1

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2482,NaN,NaN,NaN,West Bank and Gaza,2020-04-01 21:58:34,31.952200,35.233200,134,1,18,115,West Bank and Gaza
2483,NaN,NaN,NaN,Zambia,2020-04-01 21:58:34,-13.133897,27.849332,36,0,0,36,Zambia
2484,NaN,NaN,NaN,Zimbabwe,2020-04-01 21:58:34,-19.015438,29.154857,8,1,0,7,Zimbabwe

In [175]:
dfus=df1[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_','Confirmed']]
dfus=dfus[dfus.Country_Region=='US']
dfus.reset_index(drop=True, inplace=True)
#dfus.set_index('Combined_Key', inplace=True)
dfus

,Combined_Key,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7
...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30

In [176]:
#dOld=dfus['Last_Update'][0]
dOld=pd.to_datetime(dfus['Last_Update'][0]).date()
dOld

datetime.date(2020, 4, 1)

In [177]:
#dfus.rename(columns={'Confirmed':dOld, 'Combined_Key': 'ck'}, inplace=True)
dfus1=dfus.rename(columns={'Confirmed':dOld, 'Combined_Key': 'ck'})

In [178]:
#dfus1=dfus.copy()
dfus1

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7
...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30

In [179]:
#dfus1=df.drop(columns=['Deaths', 'Recovered','Active'])
#dfus1

In [180]:
i=2
dday=tday-day*i
fname2=dday.strftime('%m-%d-%Y.csv')

In [181]:
df2=pd.read_csv(dr+fname2)

In [182]:
fname2

'03-31-2020.csv'

In [183]:
dfus=df2[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_','Confirmed']]
dfus=dfus[dfus.Country_Region=='US']
dfus.reset_index(drop=True, inplace=True)
#dfus.set_index('Combined_Key', inplace=True)
dfus

,Combined_Key,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-03-31 23:43:56,34.223334,-82.461707,4
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-03-31 23:43:56,30.295065,-92.414197,39
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-03-31 23:43:56,37.767072,-75.632346,7
...,...,...,...,...,...,...,...,...
2176,"Puerto Rico, US",NaN,Puerto Rico,US,2020-03-31 23:43:56,18.220800,-66.590100,239
2177,"Recovered, US",NaN,Recovered,US,2020-03-31 23:43:56,0.000000,0.000000,0
2178,",Virgin Islands,US",NaN,Virgin Islands,US,2020-03-31 23:43:56,18.335800,-64.896300,30

In [184]:
dNew=dfus['Last_Update'][0]
dNew

'2020-03-31 23:43:56'

In [185]:
dfus2=dfus.rename(columns={'Combined_Key': 'ckNew',
                     'Admin2':'aNew', 
                     'Province_State': 'psNew',
                     'Country_Region': 'crNew', 
                     'Last_Update': 'luNew',
                     'Lat': 'latNew',
                     'Long_': 'lonNew'})

In [186]:
#dfus2=dfus.copy()
dfus2

,ckNew,aNew,psNew,crNew,luNew,latNew,lonNew,Confirmed
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-03-31 23:43:56,34.223334,-82.461707,4
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-03-31 23:43:56,30.295065,-92.414197,39
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-03-31 23:43:56,37.767072,-75.632346,7
...,...,...,...,...,...,...,...,...
2176,"Puerto Rico, US",NaN,Puerto Rico,US,2020-03-31 23:43:56,18.220800,-66.590100,239
2177,"Recovered, US",NaN,Recovered,US,2020-03-31 23:43:56,0.000000,0.000000,0
2178,",Virgin Islands,US",NaN,Virgin Islands,US,2020-03-31 23:43:56,18.335800,-64.896300,30

In [187]:
dfusc=pd.concat([dfus1,dfus2], axis=1, join='outer')
dfusc

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,ckNew,aNew,psNew,crNew,luNew,latNew,lonNew,Confirmed
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-03-31 23:43:56,34.223334,-82.461707,4.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-03-31 23:43:56,30.295065,-92.414197,39.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,"Accomack, Virginia, US",Accomack,Virginia,US,2020-03-31 23:43:56,37.767072,-75.632346,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
dfusc

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,ckNew,aNew,psNew,crNew,luNew,latNew,lonNew,Confirmed
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-03-31 23:43:56,34.223334,-82.461707,4.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-03-31 23:43:56,30.295065,-92.414197,39.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,"Accomack, Virginia, US",Accomack,Virginia,US,2020-03-31 23:43:56,37.767072,-75.632346,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
#df1.set_index('Combined_Key', inplace=True)
#df2.set_index('Combined_Key', inplace=True)
#dfc=pd.merge(df1, df2, on=['Combined_Key','Combined_Key'])
#dfc

## Now clean the table

In [190]:
dfusc.rename(columns={'Confirmed':dNew}, inplace=True)

In [191]:
#dfusc.loc[0:1,:]

In [192]:
rws_null=dfusc['ck'].isnull()
rws=dfusc[rws_null].index
rws

Int64Index([], dtype='int64')

In [193]:
dfusc

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,ckNew,aNew,psNew,crNew,luNew,latNew,lonNew,2020-03-31 23:43:56
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-03-31 23:43:56,34.223334,-82.461707,4.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-03-31 23:43:56,30.295065,-92.414197,39.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,"Accomack, Virginia, US",Accomack,Virginia,US,2020-03-31 23:43:56,37.767072,-75.632346,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
#dfusc.loc[rws, 'ck' : dOld]
dfusc.iloc[rws, 0:8]

Empty DataFrame
Columns: [ck, Admin2, Province_State, Country_Region, Last_Update, Lat, Long_, 2020-04-01]
Index: []

In [195]:
#dfr=dfusc.loc[rws, 'ckNew' : dNew]
dfr=dfusc.iloc[rws, 8:17]
dfr

Empty DataFrame
Columns: [ckNew, aNew, psNew, crNew, luNew, latNew, lonNew, 2020-03-31 23:43:56]
Index: []

#### Very frustrating. Cannot replace a chunk of table in one go. Needed to do column by column! ??

In [196]:
dfusc.columns[0:7]

Index(['ck', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_'],
      dtype='object')

In [197]:
#dfusc.replace(dfusc.iloc[rws, 1:8], dfr, inplace=True)
#dfusc.replace(dfusc.loc[rws, 'ck' : dOld], dfr, inplace=True)
#dfusc
#dfusc.iloc[rws[-4:-2],0:2]=[['tarak', 'tarak2'], ['1', '2']]
dfusc.iloc[:, 10:14]
for col in range(0,7):
    #print(col)
    dfusc.iloc[rws,col]=dfusc.iloc[rws, col+7+i]

In [198]:
dfusc

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,ckNew,aNew,psNew,crNew,luNew,latNew,lonNew,2020-03-31 23:43:56
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-03-31 23:43:56,34.223334,-82.461707,4.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-03-31 23:43:56,30.295065,-92.414197,39.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,"Accomack, Virginia, US",Accomack,Virginia,US,2020-03-31 23:43:56,37.767072,-75.632346,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
dfusc.drop(columns={'ckNew','aNew','psNew', 'crNew', 'luNew', 'lonNew', 'latNew'}, inplace=True)

In [200]:
dfusc

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,2020-03-31 23:43:56
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,4.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,39.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,7.0
...,...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286,NaN
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0,NaN
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30,NaN

## Make a function

In [201]:
dfus1

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7
...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30

In [202]:
def appendData(dfAll,i,tday):
        try:
            print(i)
            #print(id(dfAll))
            #print(dfAll.columns)
            day=datetime.timedelta(days=1)
            dday=yday-day*i
            fname2=dday.strftime('%m-%d-%Y.csv')
            df2=pd.read_csv(dr+fname2)
            dfus=df2[['Combined_Key','Admin2','Province_State','Country_Region','Last_Update', 'Lat', 'Long_','Confirmed']]
            dfus=dfus[dfus.Country_Region=='US']
            dfus.reset_index(drop=True, inplace=True)
            #dNew=dfus['Last_Update'][0]
            dNew=pd.to_datetime(dfus['Last_Update'][0]).date()
            print(dNew)
            dfus2=dfus.rename(columns={'Combined_Key': 'ckNew',
                                 'Admin2':'aNew', 
                                 'Province_State': 'psNew',
                                 'Country_Region': 'crNew', 
                                 'Last_Update': 'luNew',
                                 'Lat': 'latNew',
                                 'Long_': 'lonNew'})
            #dfus2=dfus.copy()
            dfusc=pd.concat([dfAll,dfus2], axis=1)
            dfusc2=dfusc.rename(columns={'Confirmed':dNew})
            rws_null=dfusc2['ck'].isnull()
            rws=dfusc2[rws_null].index
            #print(dfusc2.columns)
            for icol in range(0,7):
                dfusc2.iloc[rws,icol]=dfusc2.iloc[rws, icol+ 7+i ]
            dfusc3=dfusc2.drop(columns={'ckNew','aNew','psNew', 'crNew', 'luNew', 'lonNew', 'latNew'})
        except Exception:
            print('Issue with ' + fname2 )
#             try:
            dfus=df2[['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
   'Latitude', 'Longitude']]
            #dNew=dfus['Last_Update'][0]
            dNew=pd.to_datetime(dfus['Last Update'][0]).date()
            print(dNew)
            dfus2=dfus.rename(columns={'Province/State': 'psNew',
                                 'Country/Region': 'crNew', 
                                 'Last Update': 'luNew',
                                 'Latitude': 'latNew',
                                 'Longitude': 'lonNew'})
            #dfus2=dfus.copy()
            dfusc=pd.concat([dfAll,dfus2], axis=1)
            dfusc2=dfusc.rename(columns={'Confirmed':dNew})
            rws_null=dfusc2['ck'].isnull()
            rws=dfusc2[rws_null].index
            print(dfusc2.columns)
            for icol in range(2,7):
                dfusc2.iloc[rws,icol]=dfusc2.iloc[rws, icol+ 5+i ]
            dfusc3=dfusc2.drop(columns={'psNew', 'crNew', 'luNew', 'lonNew', 'latNew'})
            pass
#             except:
#                 print('Creating empty column for ' + fname2 )
#                 df2=pd.read_csv(dr+fname2)
#                 print(df2.columns)
#                 dNew=pd.to_datetime(df2['Last Update'][0]).date()
#                 dfusc3=dfAll
#                 dfusc3[dNew]=np.nan  
                #pass
        dfusc3.iloc[:,-1]=pd.to_numeric(dfusc3.iloc[:,-1], errors='ignore', downcast='float')
        return dfusc3

In [203]:
#dfTest=appendData(dfus1,1,tday)
#dfTest

## Run the function

In [204]:
dfus1

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7
...,...,...,...,...,...,...,...,...
2227,"Puerto Rico, US",NaN,Puerto Rico,US,2020-04-01 21:58:49,18.220800,-66.590100,286
2228,"Recovered, US",NaN,Recovered,US,2020-04-01 21:58:49,0.000000,0.000000,0
2229,",Virgin Islands,US",NaN,Virgin Islands,US,2020-04-01 21:58:49,18.335800,-64.896300,30

In [205]:
#ndays=pd.to_datetime(dOld).date()-pd.to_datetime(dNew).date()
deltaDay=datetime.date.today()-datetime.date(2020,3,23)
ndays=int(deltaDay/day)
ndays

10

In [206]:
days=range(1, ndays, 1)
tday=datetime.date.today()

In [207]:
dfAll=dfus1.copy()
for i in days:
    dfAll=appendData(dfAll,i,tday)
    #print('outside')
    #print(dfAll.columns)

1
2020-03-31
2
2020-03-30
3
2020-03-29
4
2020-03-28
5
2020-03-27
6
2020-03-26
7
2020-03-25
8
2020-03-24
9
2020-03-23

In [93]:
dfAll

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,1.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47.0,39.0,11.0,9.0,9.0,8.0,3.0,2.0,2.0,1.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7.0,7.0,6.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,"Puerto Rico, US",NaN,Puerto Rico,US,2020-03-30 22:52:45,18.220800,-66.590100,NaN,NaN,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,"Recovered, US",NaN,Recovered,US,2020-03-30 22:52:45,0.000000,0.000000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,"Virgin Islands, US",NaN,Virgin Islands,US,2020-03-30 22:52:45,18.335800,-64.896300,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
dfUS=dfAll[dfAll.Country_Region=='US']

In [95]:
dfUS

,ck,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
0,"Abbeville, South Carolina, US",Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,1.0
1,"Acadia, Louisiana, US",Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47.0,39.0,11.0,9.0,9.0,8.0,3.0,2.0,2.0,1.0
2,"Accomack, Virginia, US",Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7.0,7.0,6.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,"Puerto Rico, US",NaN,Puerto Rico,US,2020-03-30 22:52:45,18.220800,-66.590100,NaN,NaN,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,"Recovered, US",NaN,Recovered,US,2020-03-30 22:52:45,0.000000,0.000000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,"Virgin Islands, US",NaN,Virgin Islands,US,2020-03-30 22:52:45,18.335800,-64.896300,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
dfUS.drop(columns={'Admin2', 'Province_State','Country_Region', 'Last_Update'}, inplace=True)

In [97]:
dfUS

,ck,Lat,Long_,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
0,"Abbeville, South Carolina, US",34.223334,-82.461707,4.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,1.0,1.0
1,"Acadia, Louisiana, US",30.295065,-92.414197,47.0,39.0,11.0,9.0,9.0,8.0,3.0,2.0,2.0,1.0
2,"Accomack, Virginia, US",37.767072,-75.632346,7.0,7.0,6.0,3.0,2.0,2.0,2.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,"Puerto Rico, US",18.220800,-66.590100,NaN,NaN,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,"Recovered, US",0.000000,0.000000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,"Virgin Islands, US",18.335800,-64.896300,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
dfUS[(dfUS.ck=='Suffolk, Massachusetts, US')]

,ck,Lat,Long_,2020-04-01,2020-03-31,2020-03-30,2020-03-29,2020-03-28,2020-03-27,2020-03-26,2020-03-25,2020-03-24,2020-03-23
1879,"Suffolk, Massachusetts, US",42.327951,-71.078504,1624.0,40.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
2719,"Suffolk, Massachusetts, US",42.327951,-71.078504,NaN,NaN,1115.0,940.0,843.0,631.0,448.0,0.0,0.0,0.0

In [99]:
dfm=pd.melt(dfUS, id_vars=dfUS.columns.values[0:3], var_name="Date", value_name="Value")

In [100]:
dfm.rename(columns = {'Lat':'lat', 'Long_':'lon','ck':'id'}, inplace = True)

In [101]:
dfm

                                  id        lat        lon        Date  Value
0      Abbeville, South Carolina, US  34.223334 -82.461707  2020-04-01    4.0
1              Acadia, Louisiana, US  30.295065 -92.414197  2020-04-01   47.0
2             Accomack, Virginia, US  37.767072 -75.632346  2020-04-01    7.0
...                              ...        ...        ...         ...    ...
31857                Puerto Rico, US  18.220800 -66.590100  2020-03-23    NaN
31858                  Recovered, US   0.000000   0.000000  2020-03-23    NaN
31859             Virgin Islands, US  18.335800 -64.896300  2020-03-23    NaN

[31860 rows x 5 columns]

In [102]:
dfm.to_csv('US_covid_conf.csv', index=False)

In [103]:
#dff.Admin2.fillna('Total', inplace=True)
#dff.set_index(['Province_State', 'Admin2'], inplace=True)
#dff.sort_index(0)

## Plot all cases on log scale
Below is a quick plot of all  cases on a logarithmic scale. 

Hvplot creates holoviews objects, and the `*` symbol means [overlay](http://holoviews.org/reference/containers/bokeh/Overlay.html).  See [holoviz plot customization](http://holoviews.org/user_guide/Customizing_Plots.html) for available options.